:root {
  --text-color:  black;
  --footer-color: white;
  --background-color: #f5f5f5;
  
  --font-family: Helvetica, sans-serif;
  font-size: 18px;
  
  --text-size: 14px;
  --line-height: 1.6;
  --section-padding: 10%;
  --nav-padding: 10px;
  --nav-link-margin: 15px;
  --section-bottom-margin: 30px;
  --macaron-size: 300px;
  --macaron-left-margin: 50px;
  --macaron-right-margin: 20px;
  --gallery-gap: 20px;
  --portfolio-items-width: 300px;
  --portfolio-items-height: 500px;
  --about-height: 500px;

}


h1, h2, h3, p, li {
  color: var(--text-color);
}

h1, h2, h3 {
  letter-spacing: -1px;
}




main{
  background-color: var(--background-color);
  position: relative;
  z-index: 2;
}

main > section:not(#about, #resume) {
  padding: var(--section-padding);
  margin-bottom: var(--section-bottom-margin);
}

a {
  font-weight: bold !important;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  cursor: pointer;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--text-color);
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--text-color);
  padding: 5px;
  font-size: 0.7rem;
  background-color: var(var(--background-color));
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1); 
}

body {
  margin: 0;
  font-family: var(--font-family);
  line-height: var(--line-height);
}

#macaron {
  aspect-ratio: 1 / 1;
  width: var(--macaron-size);
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: 60% 0px; 
  z-index: 4;
  padding: 0;
  margin-right: var(--macaron-right-margin);
  margin-left: var(--macaron-left-margin);
  border: 20px solid var(--background-color); 
  transition: height 0.5s ease, width 0.5s ease, border-width 0.5s ease;
  align-self: flex-end;
}

nav {
  display: flex;
  background-color: var(--background-color);
  padding: var(--nav-padding) 0;
  position: sticky;
  top: 0;
  z-index: 3;
  align-items: center;
  height: calc(var(--macaron-size) / 2);
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  cursor: pointer;
  margin: 0 var(--nav-link-margin);
  align-self: flex-center;
}

nav a::after {
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

nav a:hover::after {
  transform: scaleX(0.5);
}

nav a.active::after {
  transform: scaleX(1);
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap);
}

.portfolio-item {
  flex: 1 1 var(--portfolio-items-width);
  max-height: var(--portfolio-items-height);
  position: relative;
  border-radius: calc(var(--gallery-gap) / 4); 
  overflow: hidden;
  cursor: pointer; 
}

.portfolio-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

.portfolio-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.portfolio-item-info > p,h3 {
  color: white;
}

  
.portfolio-item:hover .portfolio-item-info {
  opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay img {
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
}

.fullsize-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullsize-overlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}

#about {
  position: relative;
  background-image: url("images/sky.jpg");
  background-size: cover;
  background-position: left bottom;
  height: var(--about-height);
  width: 100%;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;

}

#about p{
  color: white;
  font-size: 1.2rem;
}

#about h3 {
  color: white;
  font-size: 2rem;
}


#about a{
  color: white;
  
}

#about a::after {
  background-color: white;
}

#about svg {
  width: 40px;
  height: 40px;
  stroke-width: 1;
  stroke: white;
  stroke-linecap :round;
  stroke-linejoin:round;
  stroke-dasharray: 100;
  stroke-dashoffset: 100 ;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.icon-circle{
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 380px;
  justify-content: center;
  gap: 10px;

}

.icon-position {
  display: flex;
  align-items: left;
  bottom: 0;
  gap: 10px;
}

.icon-position > p {
  text-align: left;
}




#resume{
  padding: var(--section-padding);
}

#projects { 
  display: flex;
  flex-direction: column;
  gap: var(--gallery-gap);
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 8px; 
}

.skill-tag {
  color: white;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
  cursor: pointer;
}

.skill-tag:hover {
  border-color: white;
}

.project a, .project p, .project h3 {
  color: white;
}

.project a::after {
  background-color: white; /* Or any color you prefer */
}

.project { 
  border-radius: 5px;
  overflow: hidden;
  background-color: #134908;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-attachment: fixed;
  position: relative;
}

.project > summary {
  color: white;
  padding: 10px;
  height: 400px;
  position: relative;
  cursor: pointer;
  width: 100%;

  perspective: 1px;
  overflow: hidden;

  
}

.project > summary::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white; 
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.project > summary:hover::after {
  transform: scaleX(1);
}

.project[open] > summary {
  height: 150px;
}


.project[open] {
  display: block; /* Reset display to block when open */
  overflow: hidden;
}

.project[open]::after {
  content: '';
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project > p {
  color: white;
  padding: 10px;
  flex: 1 1 300px;
  margin: 0;
}

.project > a {
  padding: 10px;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.project img,
.project > iframe {
  padding: 10px;
  flex: 2 1 500px;
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

/* New styles to position elements side by side */
.project[open] > p,
.project[open] > iframe,
.project[open]  img {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 20px); /* Subtracting gap */
  box-sizing: border-box;
}

.project[open] > .full-width {
  flex: 2 0 200%;
}

@media (max-width: 1000px) {
  .project[open] > p,
  .project[open] img,
  .project[open] > iframe
   {
    width: 100%;
  }

@media only screen and (max-width: 768px) {
  .project, .project::before {
    background-attachment: scroll;
  }
}

}