body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#game-container {
    position: absolute;
    width: 100vw;
    height: 80vh;
    top: 0;
    left: 0;
    z-index: 1; /* Lower layer for the game */
}

#level-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#level-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.slider-container {
    position: absolute;
    bottom: 20px; /* Position at the bottom of the screen */
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    z-index: 100; /* Higher layer for the slider */
}
#degreeSlider {
    width: 100%;
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#degreeSlider:hover {
    opacity: 1;
}

#degreeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

#degreeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

#sliderValue {
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}
